
  <header>
    <div id="header_div">
      <ul>
        <li><a href="/top">ホーム</a></li>
        <li><a href="/mypage/">マイページ</a></li>
        <li><a href="/logout">ログアウト</a></li>
      </ul>
      <img id="logo_img" src="/logo/logo.jpg">
      <form action="/serch" method="get">
        <input id="serch_text" type="text" name="key" placeholder="   キーワード検索">
        <input id="serch_sub" type="submit" value="検索">
      </form>
    </div>
  </header>

  <main>

    <div id="out_users" class = "animated fadeInUp">
      <div class="waku">

      </div>
    </div>

    <div id="out_nya" class = "animated fadeInUp">
      <div class="waku">

      </div>
    </div>

    <div id="out_view_res" class = "animated fadeIn">
      <div class="waku">

      </div>
    </div>




  </main>
